 body {
            font-family: Arial, sans-serif;
            background-color: #f2f2f2; /* Cor de fundo cinza claro */
            margin: 0;
            padding: 0;
        }
        h1 {
            text-align: center;
            color: #3eb2cf; /* Cor verde */
        }
        button {
            background-color: #267679; /* Cor azul */
            color: white;
            padding: 10px 20px;
            border: none;
            cursor: pointer;
            border-radius: 5px;
            display: block;
            margin: 20px auto;
        }
        button:hover {
            background-color: #45a049; /* Cor verde escura quando hover */
        }
        .question {
            margin-bottom: 20px;
        }
        .options {
            list-style-type: none;
            padding: 0;
        }
        .options li {
            margin-bottom: 10px;
        }
        #result {
            text-align: center;
            margin-top: 20px;
            color: #4CAF50; /* Cor verde */
        }