        body {
            background-color: #f4ffff; /* rosa claro */
            color: #004225; /* verde escuro */
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #b4f6ff; /* rosa claro */
            padding: 20px;
        }

        nav ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        nav ul li {
            display: inline;
            margin-right: 20px;
        }

        nav ul li a {
            color: #004225; /* verde escuro */
            text-decoration: none;
        }

        section {
            padding: 50px;
        }

        footer {
            background-color: #d4feff; /* rosa claro */
            padding: 20px;
            text-align: center;
        }